.article-content {
    word-break: break-word;
    line-height: 1.75;
    font-weight: 400;
    font-size: 15px;
    overflow-x: hidden
}

.article-content h1 {
    margin: 1.3rem 0;
    line-height: 1.2
}

.article-content p {
    line-height: 2.27rem
}

.article-content hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem
}

.article-content embed,.article-content iframe,.article-content img:not(.equation),.article-content video {
    max-width: 100%!important;
    margin: 0
}

.article-content img.lazyload {
    visibility: hidden
}

.article-content img.inited {
    background-color: #f8f9fa;
    background-position: 50%;
    background-repeat: no-repeat;
    visibility: visible
}

.article-content img.loaded {
    background-image: none;
    background-color: transparent
}

.article-content img.error {
    background-image: url(https://b-gold-cdn.xitu.io/v3/static/img/image-error.3338abe.png)
}

.article-content img.equation {
    margin: 0 .1em;
    max-width: 100%!important;
    vertical-align: middle
}

.article-content img:not(.equation) {
    cursor: zoom-in
}

.article-content figure {
    margin: 2.7rem auto;
    text-align: center
}

.article-content figure figcaption {
    text-align: center;
    font-size: 1rem;
    line-height: 2.7rem;
    color: #909090
}

.article-content pre {
    line-height: 1.93rem;
    overflow: auto
}

.article-content code,.article-content pre {
    font-family: Menlo,Monaco,Consolas,Courier New,monospace
}

.article-content code {
    font-size: 1rem;
    padding: .26rem .53em;
    word-break: break-word;
    color: #4e5980;
    background-color: #f8f8f8;
    border-radius: 2px;
    overflow-x: auto
}

.article-content pre>code {
    font-size: 1rem;
    padding: .67rem 1.3rem;
    margin: 0;
    word-break: normal;
    display: block
}

.article-content a {
    color: #259
}

.article-content a:active,.article-content a:hover {
    color: #275b8c
}

.article-content table {
    display: inline-block!important;
    font-size: 1rem;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #f6f6f6
}

.article-content thead {
    background: #f6f6f6;
    color: #000;
    text-align: left
}

.article-content tr:nth-child(2n) {
    background-color: #fcfcfc
}

.article-content td,.article-content th {
    padding: 1rem .6rem;
    line-height: 2rem
}

.article-content td {
    min-width: 10rem
}

.article-content blockquote {
    margin: 1em 0;
    border-left: 4px solid #ddd;
    padding: 0 1.3rem
}

.article-content blockquote>p {
    margin: .6rem 0
}

.article-content ol,.article-content ul {
    padding-left: 2.7rem
}

.article-content ol li,.article-content ul li {
    margin-bottom: .6rem
}

.article-content ol ol,.article-content ol ul,.article-content ul ol,.article-content ul ul {
    margin-top: .27rem
}

.article-content pre>code {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    color: #333;
    background: #f8f8f8
}

.article-content .hljs-comment,.article-content .hljs-quote {
    color: #998
}

.article-content .hljs-keyword,.article-content .hljs-selector-tag,.article-content .hljs-subst {
    color: #333;
    font-weight: 700
}

.article-content .hljs-literal,.article-content .hljs-number,.article-content .hljs-tag .hljs-attr,.article-content .hljs-template-variable,.article-content .hljs-variable {
    color: teal
}

.article-content .hljs-doctag,.article-content .hljs-string {
    color: #d14
}

.article-content .hljs-section,.article-content .hljs-selector-id,.article-content .hljs-title {
    color: #900;
    font-weight: 700
}

.article-content .hljs-subst {
    font-weight: 400
}

.article-content .hljs-class .hljs-title,.article-content .hljs-type {
    color: #458;
    font-weight: 700
}

.article-content .hljs-attribute,.article-content .hljs-name,.article-content .hljs-tag {
    color: navy;
    font-weight: 400
}

.article-content .hljs-link,.article-content .hljs-regexp {
    color: #009926
}

.article-content .hljs-bullet,.article-content .hljs-symbol {
    color: #990073
}

.article-content .hljs-built_in,.article-content .hljs-builtin-name {
    color: #0086b3
}

.article-content .hljs-meta {
    color: #999;
    font-weight: 700
}

.article-content .hljs-deletion {
    background: #fdd
}

.article-content .hljs-addition {
    background: #dfd
}

.article-content .hljs-emphasis {
    font-style: italic
}

.article-content .hljs-strong {
    font-weight: 700
}

.article-content p {
    line-height: inherit;
    margin-top: 22px;
    margin-bottom: 22px
}

.article-content img {
    max-height: none
}

.article-content a {
    color: #0269c8;
    border-bottom: 1px solid #d1e9ff
}

.article-content code {
    background-color: #fff5f5;
    color: #ff502c;
    font-size: .87em;
    padding: .065em .4em
}

.article-content figure {
    margin: 22px auto
}

.article-content figure figcaption {
    margin-top: 2px;
    line-height: 1.6
}

.article-content blockquote {
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8
}

.article-content blockquote:after {
    display: block;
    content: ""
}

.article-content blockquote>p {
    margin: 10px 0
}

.article-content blockquote.warning {
    position: relative;
    border-left-color: #f75151;
    margin-left: 8px
}

.article-content blockquote.warning:before {
    position: absolute;
    top: 14px;
    left: -12px;
    background: #f75151;
    border-radius: 50%;
    content: "!";
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.article-content ol,.article-content ul {
    padding-left: 28px
}

.article-content ol li,.article-content ul li {
    margin-bottom: 0;
    list-style: inherit
}

.article-content ol li.task-list-item,.article-content ul li.task-list-item {
    list-style: none
}

.article-content ol li.task-list-item ol,.article-content ol li.task-list-item ul,.article-content ul li.task-list-item ol,.article-content ul li.task-list-item ul {
    margin-top: 0
}

.article-content ol li {
    padding-left: 6px
}

.article-content pre {
    position: relative;
    line-height: 1.75
}

.article-content pre>code {
    padding: 15px 12px
}

.article-content pre>code.hljs[lang] {
    padding: 18px 15px 12px
}

.article-content pre>code.hljs[lang]:before {
    content: attr(lang);
    position: absolute;
    right: 15px;
    top: 2px;
    color: hsla(0,0%,54.9%,.8)
}

.article-content pre>code.hljs[lang][lang=bash]:before {
    content: ""
}

.article-content pre>code.copyable .copy-code-btn {
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    color: hsla(0,0%,54.9%,.8);
    transition: color .1s
}

.article-content pre>code.copyable .copy-code-btn:hover {
    color: #8c8c8c
}

.article-content pre>code.copyable.hljs[lang]:before {
    right: 70px
}

.article-content h1,.article-content h2,.article-content h3,.article-content h4,.article-content h5,.article-content h6 {
    color: #333;
    line-height: 1.5;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px
}

.article-content h1 {
    font-size: 30px;
    margin-bottom: 5px
}

.article-content h2 {
    padding-bottom: 12px;
    font-size: 24px;
    border-bottom: 1px solid #ececec
}

.article-content h3 {
    font-size: 18px;
    padding-bottom: 0
}

.article-content h4 {
    font-size: 16px
}

.article-content h5 {
    font-size: 15px
}

.article-content h6 {
    margin-top: 5px
}

.article-content h1.heading+h2.heading {
    margin-top: 20px
}

.article-content h1.heading+h3.heading {
    margin-top: 15px
}

.article-content .heading+.heading {
    margin-top: 0
}

.article-content h1+:not(.heading) {
    margin-top: 25px
}

@media (max-width: 720px) {
    .article-content h1 {
        font-size:24px
    }

    .article-content h2 {
        font-size: 20px
    }

    .article-content h3 {
        font-size: 18px
    }

    .article-content pre>code .copy-code-btn {
        display: none
    }

    .article-content pre>code.hljs[lang]:before {
        top: 2px;
        right: 15px
    }
}

@media (max-width: 720px) {
    .article-content pre>code.copyable.hljs[lang]:before {
        right:1rem
    }
}

