body {
  font-size: 32rem;
}

.con{
  padding: 0 20rem;
  background: #fff;
}


.page-content {
  display: flex;
  flex-direction: column;
}

.page-section {
  flex: 1;
  height: 0;
}

.slide-enter, .slide-leave-to{

  transform: translateY(100%);
  z-index: 1;
}

.border-top-1px {
  position: relative;
}

.touch-active:active {
  background: #dcdbdb !important;
}

.follow {
  padding: 14rem 0;
  width: 150rem;
  border: 1px #6cbd45 solid;
  text-align: center;
  color: #6cbd45;
  font-size: 26rem;
  border-radius: 5rem;
}
.edit-btn {
  padding: 14rem 35rem;
  /* width: 140rem; */
  border: 1px #007fff solid;
  color: #007fff;
  font-size: 26rem;
  border-radius: 5rem;
}
.follow.active {
  background: #6cbd45;
  border: none;
  color: #fff;
}
.follow .iconfont{
  padding: 0;
  margin-right: 10rem;
  font-size: 26rem;
}

.border-top-1px::after {
  content: ' ';
  width: 100%;
  height: 1px;
  background: #edeeef;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  /* border-bottom: 1px solid #71777c; */
  transform-origin: left bottom;
}

.border-bottom-1px {
  position: relative;
}

.border-bottom-1px::after {
  content: ' ';
  width: 100%;
  height: 1px;
  background: #edeeef;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  /* border-bottom: 1px solid #71777c; */
  transform-origin: left bottom;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .border-bottom-1px::after {
    -webkit-transform: scaleY(.7);
    transform: scaleY(.7);
  }
  .border-top-1px::after {
    -webkit-transform: scaleY(.7);
    transform: scaleY(.7);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .border-bottom-1px::after {
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }
  .border-top-1px::after {
    -webkit-transform: scaleY(.7);
    transform: scaleY(.7);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3) {
  .border-bottom-1px ::after {
    -webkit-transform: scaleY(.33);
    transform: scaleY(.33);
  }
  .border-top-1px::after {
    -webkit-transform: scaleY(.7);
    transform: scaleY(.7);
  }
}