$gray-color=#f4f5f5
$primary-color=#0180ff
$border-color=#edeeef
$text-color=#666
$title-color=#2e3135
$gray-text-color=#909090
$primary-text-color=#007fff
$active-color=#dcdbdb
$primary-green-color=#6cbd45
$article-content-color=#5c6066
$unit=1/36rem
